# Root level
/reports
/mermaid-*
_sandbox.py
sandbox/
build/
.mypy_cache/
.coverage
.coverage.*
.nox/
.python-version
.pytype/
dist/
docs/_build/
__pycache__/
*.egg-info/
# Everywhere
**/*.vscode
**/.mypy_cache/
**/.python-version
**/.pytype/
**/*.egg-info/
**/__pycache__/
/CODEBOOK.pdf
/README.pdf
