/properties.parquet
/prices.parquet
/records.parquet
/currencies.parquet
/conversions.parquet
/companies.parquet
/people.parquet
/relations.parquet
/ranking.parquet
/industries.parquet
/yearly.parquet
/entities.parquet
/shares.parquet
/groups.parquet
/tables.xlsx
/kingpol.xlsx
